build/*.o
build/*.cf
build/*_tb
build/*.bin
build/*.ghw
Hardware/Omega/webtalk_pn.xml
Hardware/Omega/*.gise
Hardware/Omega/*.html
Hardware/Omega/_xmsgs
Hardware/Omega/xst
Hardware/Omega/tmp
Hardware/Omega/*.log
Hardware/Omega/**/*.html
Hardware/Omega/**/_xmsgs
Hardware/Omega/**/tmp
Hardware/Omega/**/*.log
Hardware/Omega/iseconfig
Hardware/Omega/OmegaTop.cmd_log
Hardware/Omega/OmegaTop.lso
Hardware/Omega/OmegaTop.prj
Hardware/Omega/OmegaTop.syr
Hardware/Omega/OmegaTop.xst
Hardware/Omega/OmegaTop_xst.xrpt
Hardware/Omega/ipcore_dir/UARTClockManager.ncf
Hardware/Omega/OmegaTop.ngr