build/*.o
build/*.cf
build/*_tb
build/*.bin
build/*.ghw
Hardware/Omega/webtalk_pn.xml
Hardware/Omega/*.gise
Hardware/Omega/*.html
Hardware/Omega/_xmsgs
Hardware/Omega/xst
Hardware/Omega/tmp
Hardware/Omega/*.log
Hardware/Omega/**/*.html
Hardware/Omega/**/_xmsgs
Hardware/Omega/**/tmp
Hardware/Omega/**/*.log
Hardware/Omega/iseconfig
Hardware/Omega/OmegaTop.cmd_log
Hardware/Omega/OmegaTop.lso
Hardware/Omega/OmegaTop.prj
Hardware/Omega/OmegaTop.syr
Hardware/Omega/OmegaTop.xst
Hardware/Omega/OmegaTop_xst.xrpt
Hardware/Omega/ipcore_dir/UARTClockManager.ncf
Hardware/Omega/OmegaTop.ngr
Hardware/Omega/OmegaTop.bgn
Hardware/Omega/OmegaTop.bit
Hardware/Omega/OmegaTop.bld
Hardware/Omega/OmegaTop.drc
Hardware/Omega/OmegaTop.ncd
Hardware/Omega/OmegaTop.ngc
Hardware/Omega/OmegaTop.ngd
Hardware/Omega/OmegaTop.pad
Hardware/Omega/OmegaTop.par
Hardware/Omega/OmegaTop.pcf
Hardware/Omega/OmegaTop.ptwx
Hardware/Omega/OmegaTop.stx
Hardware/Omega/OmegaTop.twr
Hardware/Omega/OmegaTop.twx
Hardware/Omega/OmegaTop.unroutes
Hardware/Omega/OmegaTop.ut
Hardware/Omega/OmegaTop.xpi
Hardware/Omega/OmegaTop_bitgen.xwbt
Hardware/Omega/OmegaTop_guide.ncd
Hardware/Omega/OmegaTop_map.map
Hardware/Omega/OmegaTop_map.mrp
Hardware/Omega/OmegaTop_map.ncd
Hardware/Omega/OmegaTop_map.ngm
Hardware/Omega/OmegaTop_map.xrpt
Hardware/Omega/OmegaTop_ngdbuild.xrpt
Hardware/Omega/OmegaTop_pad.csv
Hardware/Omega/OmegaTop_pad.txt
Hardware/Omega/OmegaTop_par.xrpt
Hardware/Omega/OmegaTop_summary.xml
Hardware/Omega/OmegaTop_usage.xml
Hardware/Omega/_ngo
Hardware/Omega/ipcore_dir/edit_UARTClockManager.tcl
Hardware/Omega/xlnx_auto_0_xdb
Hardware/Omega/OmegaTopTB_beh.prj
Hardware/Omega/OmegaTopTB_isim_beh.exe
Hardware/Omega/OmegaTopTB_isim_beh.wdb
Hardware/Omega/*.wcfg
Hardware/Omega/fuse.xmsgs
Hardware/Omega/fuseRelaunch.cmd
Hardware/Omega/isim.cmd
Hardware/Omega/isim/
Hardware/Omega/pepExtractor.prj
Hardware/Omega/xilinxsim.ini
doc/manual/**
!doc/manual/*.tex
!doc/manual/*.pdf
!doc/manual/Makefile