build/*.o
build/*.cf
build/*_tb
build/*.bin
build/*.ghw
Hardware/Omega/*.gise
Hardware/Omega/*.html
Hardware/Omega/_xmsgs
Hardware/Omega/tmp
Hardware/Omega/*.log
Hardware/Omega/**/*.html
Hardware/Omega/**/_xmsgs
Hardware/Omega/**/tmp
Hardware/Omega/**/*.log
Hardware/Omega/iseconfig